http_port {{ squid_port }}

{% if find.matched > 0 %}
include /etc/squid/conf.d/*.conf
{% endif %}

{% for network in squid_local_networks %}
acl localnet src {{ network }}
{% endfor %}

{% for port in squid_ssl_ports %}
acl SSL_ports port {{ port }}
{% endfor %}

{% for port in squid_safe_ports %}
acl Safe_ports port {{ port }}
{% endfor %}
acl CONNECT method CONNECT

{% for acl in squid_access_control_list %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}

{% for http_access in squid_http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}

{% for rp in squid_refresh_patterns %}
refresh_pattern {% if rp.case_sensitive %}-i {% endif %}{{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}

cache_dir {{ squid_diskcache }}

coredump_dir {{ squid_coredumpdir }}

http_access deny all
