{% if item.networks is defined %}
{% for network in item.networks %}
acl {{ network.acl }} src {{ network.ip }}
{% endfor %}
{% endif %}

{% if item.ssl_ports is defined %}
{% for port in item.ssl_ports %}
acl SSL_ports port {{ port }}
{% endfor %}
{% endif %}

{% if item.safe_ports is defined %}
{% for port in item.safe_ports %}
acl Safe_ports port {{ port }}
{% endfor %}
{% endif %}

{% if item.access_control is defined %}
{% for acl in item.access_control %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}
{% endif %}

{% if item.http_access is defined %}
{% for http_access in item.http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}
{% endif %}

{% if item.refresh_patterns is defined%}
{% for rp in item.refresh_patterns %}
refresh_pattern {% if rp.case_sensitive %}-i {% endif %}{{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}
{% endif %}
