{% if squid_custom_config.networks is defined %}
{% for network in squid_custom_config.networks %}
acl {{ network.acl }} src {{ network.ip }}
{% endfor %}
{% endif %}

{% if squid_custom_config.ssl_ports is defined %}
{% for port in squid_custom_config.ssl_ports %}
acl SSL_ports port {{ port }}
{% endfor %}
{% endif %}

{% if squid_custom_config.safe_ports is defined %}
{% for port in squid_custom_config.safe_ports %}
acl Safe_ports port {{ port }}
{% endfor %}
{% endif %}

{% if squid_custom_config.access_control is defined %}
{% for acl in squid_custom_config.access_control %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}
{% endif %}

{% if squid_custom_config.http_access is defined %}
{% for http_access in squid_custom_config.http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}
{% endif %}

{% if squid_custom_config.refresh_patterns is defined%}
{% for rp in squid_custom_config.refresh_patterns %}
refresh_pattern {% if rp.case_sensitive %}-i {% endif %}{{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}
{% endif %}
